<style>
  .search-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fe424d;
    color: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 0.5rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-container {
    position: relative;
    width: 250px;
  }

  .search-input {
    height: 3rem;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-light border-bottom  sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="search-container position-relative" action="/listings" method="GET">
          <input type="text" class="form-control search-input" name="country" placeholder="Search destinations">
          <button class="search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="listings/new">Become a host</a>
        <% if(!curUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
          <%}%>
            <% if(curUser) { %>
              <a class="nav-link" href="/logout"><b>Log out</b></a>
              <%}%>
      </div>


    </div>
  </div>
</nav>

